.container {
  position: fixed;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 50px;
  opacity: 0.4;
}
.container:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.container:active {
  opacity: 1;
  transition-duration: 0.3s;
}

.img {
  transition-duration: 0.1s;
}
.img:active {
  transform: rotate(135deg);
}
.small {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.small img {
  margin-top: 20%;
  border-radius: 50px;
}
.medium {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.medium img {
  margin-top: 20%;
  width: 30px;
  border-radius: 50px;
}
.large {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.large img {
  margin-top: 20%;
  width: 35px;
  border-radius: 50px;
}

.shahow {
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.692);
}
.invert {
  filter: invert(100);
  border-radius: 50px;
}
