.container {
  /* position: fixed; */
  display: block;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 50px;
  margin: auto;
  margin-top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.37);
}
.container:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}

.container:active {
  opacity: 1;
  transition-duration: 0.3s;
}

.small {
  width: 80px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
.small label {
  display: block;
  font-size: 17px;
  cursor: pointer;
}
.small div {
  margin-top: 7px;
  cursor: pointer;
}
.medium {
  width: 100px;
  height: 50px;
  border-radius: 50px;
}
.medium label {
  display: block;
  font-size: 25px;
  cursor: pointer;
}
.medium div {
  margin-top: 5px;
}

.large {
  width: 120px;
  height: 60px;
  border-radius: 50px;
}
.large label {
  display: block;
  font-size: 30px;
  cursor: pointer;
}
.large div {
  margin-top: 7px;
}

.invert {
  filter: invert(100);
  border-radius: 50px;
}
.title {
  color: white;
  cursor: pointer;
}
